.image {
  max-width: 100%;
  object-fit: cover;
}

.center {
  text-align: center;
}

.flex {
  display: flex;
}

.text {
  width: 100%;
}

.bar {
  background-color: rgb(88, 44, 132);
}

.subnav {
  padding-left: 10px;
  font-size: 12pt;
}

.space-between {
  justify-content: space-between;
  align-items: center;
}

ul {
  padding: 0;
}

li {
  padding-top: 40px;
}

label {
  font-size: 16pt;
  font-weight: bold;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(238, 238, 238);
}

input {
  border-radius: 2px;
  border: 2px solid lightgrey;
  height: 35px;
  margin-top: 10px;
}

textarea {
  border-radius: 4px;
  border: 2px solid lightgrey;
  margin-top: 10px;
}

#save,
.button {
  background-color: rgb(88, 44, 132);
  color: white;
  border: 0 solid rgb(88, 44, 132);
  border-radius: 4px;
  padding: 0 15px;
  font-size: 12pt;
}

.button {
  height: 30px;
  width: 60px;
  padding: 0;
}

.subnav:hover,
.button:hover {
  cursor: pointer;
}

.empty {
  text-align: center;
}

.submit {
  text-align: right;
}
